@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.loginContainer {
	background-color: $background-card;
	padding: 20px 30px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px 0px $shadow-color;
	width: 330px;

	.titles {
		text-align: center;

		h1 {
			color: $primary-color;
		}

		p {
			width: 90%;
			margin: 15px auto;
			color: $text-color-light;
		}
	}

	form {
		// .profileImage {
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	overflow: hidden;
		// 	margin-top: 15px;
		// 	padding: 5px;

		// 	img {
		// 		cursor: pointer;
		// 		background-color: $background-color;
		// 		border-radius: 50%;
		// 		padding: 5px;
		// 		height: 100px;
		// 		width: 100px;
		// 		box-shadow: 2px 2px 5px 0px $shadow-color;
		// 	}
		// }

		.formInputs {
			gap: 15px;
			display: flex;
			flex-direction: column;
			margin-top: 20px;

			.inputContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				input {
					width: 100%;
					padding: 8px 32px 8px 8px;
					font-size: 16px;
					outline: none;
					border: 1px solid $text-color-light;
					color: $text-color-light;

					&::placeholder {
						color: $secondary-color;
					}

					&:focus + img {
						filter: invert(19%) sepia(72%) saturate(7381%) hue-rotate(201deg) brightness(99%) contrast(92%);
					}
				}

				img {
					height: 25px;
					width: 25px;
					position: absolute;
					right: 8px;
				}
			}

			button {
				padding: 8px;
				font-size: 16px;
				border: none;
				background-color: $primary-color;
				color: white;
				cursor: pointer;
			}
		}
	}

	.bottom {
		margin-top: 25px;
		text-align: center;
		color: $text-color-light;

		p,
		span {
			font-size: 15px;
			margin-top: 5px;
		}

		a {
			text-decoration: none;
			color: $text-color;
			color: $primary-color;
			font-weight: bold;
		}
	}
}

@include desktop {
	.loginContainer {
		form {
			.profileImage {
				img {
					cursor: pointer;
					height: 130px;
					width: 130px;
				}
			}
		}
	}
}
