@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.registerContainer {
	background-color: $background-card;
	padding: 20px 30px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px 0px $shadow-color;
	width: 330px;

	.titles {
		text-align: center;

		h1 {
			color: $primary-color;
		}
	}

	form {
		.profileImage {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			margin-top: 15px;
			padding: 5px;

			img {
				cursor: pointer;
				background-color: $background-color;
				border-radius: 50%;
				padding: 5px;
				height: 100px;
				width: 100px;
				box-shadow: 2px 2px 5px 0px $shadow-color;
			}
		}

		input[type='file'] {
			display: none;
		}

		.formInputs {
			gap: 15px;
			display: flex;
			flex-direction: column;
			margin-top: 20px;

			.inputContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				input {
					width: 100%;
					padding: 8px;
					font-size: 16px;
					outline: none;
					border: 1px solid $text-color-light;
					color: $text-color-light;

					&::placeholder {
						color: $secondary-color;
					}
				}
			}

			button {
				padding: 8px;
				font-size: 16px;
				border: none;
				background-color: $primary-color;
				color: white;
				cursor: pointer;
			}
		}
	}
}

@include desktop {
}
